html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #404042;
}
header, h1 {
    padding: 0;
}
.container-fluid {
    
    height: 100vh auto;
}
h1 {
    color: #FFFFFF;
 
}
h3, h4 {
    color: #FFFFFF;
    padding: 1rem
}
h2 {
    color:#42D851;
}
p {
    color: #FFFFFF;

}
li {
    list-style:none;
   
}
a {
    text-decoration: none;
    font-style: none;
    font-weight: bold;
    color: #42D851;
    transition: color 0.3s ease-in-out;
    
}
a:hover {
    color:#FFFFFF;
  
    
}

.img-container {
   margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.img-container img {
  width: 30vh;
  border-radius: 50% 
}
form {
    display: flex;
    position: relative;
    
}
input {
    display: flex;
}

form ul {
    list-style-type: none;   
    position: relative;
    
}
form input,textarea,::placeholder {
    background-color: #6f6f72;
    color: #FFFFFF;
}
form li {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}
ul

li.box {
 
    width: 100%;
    display: flex;
}



@media screen and (min-width: 768px) {
    .container-fluid {
        display: flex;
        position: relative;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    header {
       padding-right: 1rem;
       
    }
    h1 { 
        
    }

    nav {
       display: flex;
       justify-content:space-evenly;
       height: 30%;
       
    }


 

    
    
}