@use "variables" as var;
@use "mixins" as mix;

/* header */

.header {
  background-color: var.$tertiary-color;
  position: sticky;
  width: 100%;
  z-index: 3;
  border-right: 1px solid rgba(223, 222, 222, 0.214);
  i {
    display: none;
  }

  @include mix.for-tablets {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    i {
      display: contents;
    }
    p {
      display: none;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var.$tertiary-color;
    font-size: 1.3rem;
    @include mix.for-tablets {
      gap: 40;
    }

    p {
      font-size: 1rem;
      padding: 0;
      margin: 0;
    }
    li {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 10px;
    }

    li a {
      display: block;
      text-decoration: none;
      color: var.$secondary-color;
    }
    & a:hover {
      text-decoration: underline;
    }

    @include mix.text-shadow;

    @include mix.for-tablets {
    }
  }
}

/* menu */

.menu {
  max-height: 0;
  transition: max-height 0.2s ease-out;

  li {
    position: relative;
  }
  &::after {
  }
  &:hover::after {
  }

  @include mix.for-tablets {
    max-height: none;

    li {
      position: relative;

      /*  &:hover {
        transition: all ease-in-out 0.25s; */
      &::after {
        opacity: 0;
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 130;
        right: 0;
        bottom: 0;

        text-align: center;
        width: max-content;
        line-height: 1;
        height: fit-content;
        border-radius: 24px;
        background-color: beige;
        color: #333;
        padding: 5px;
        font-size: medium;
        transition: all ease-in-out 0.25s;
      }
      &:hover:after {
        opacity: 1;
      }
    }
  }
}

/* menu icon */

.menu-icon {
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 25px 20px;
  position: relative;
  user-select: none;

  @include mix.for-tablets {
    display: none;
  }

  .nav-icon {
    background: white;
    display: block;
    height: 4.5px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 30px;
    border-radius: 5px;

    &::before,
    &::after {
      background: var.$secondary-color;
      content: "";
      display: block;
      height: 100%;
      position: absolute;
      transition: all 0.2s ease-out;
      width: 100%;
      border-radius: 5px;
    }
    &::before {
      top: 10px;
    }
    &::after {
      top: -10px;
    }
  }
}

/* menu btn */

.menu-btn {
  display: none;
}

.menu-btn:checked ~ .menu {
  max-height: 300px;
}

.menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-135deg);
  top: 0;
}

.menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(135deg);
  top: 0;
}
