@use "variables" as var;

@mixin justify-center {
  display: flex;
  justify-content: center;
}

@mixin center-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin text-shadow {
  text-shadow: 1px 2px 6px var.$shadow-color;
}

@mixin for-tablets {
  @media (min-width: 768px) {
    @content;
  }
}
