$primary-color: #404042;
$secondary-color: #42d851;
$tertiary-color: #363637;
$form-bg-color: #6f6f72;
$text-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 1);
$color-transparent: rgba(255, 255, 255, 0.1);
